models/model_final.pth
app/__pycache__/*
app/__init__.py
outputs/*
backend/__pycache__/*
backend/__init__.py
backend/models/*
backend/data/*
backend/client_secret.json
backend/images/*
outputs/*
backend/outputs/*
backend/outputs.zip
backend/error.log
backend/annotations/*
images/*
backend/image_detect_test/*
backend/outputs_compare/*
backend/output/*
backend/comparison_results_detailed.csv
backend/Confusion Matrix - New Model.png
backend/Confusion Matrix - Old Model.png
backend/process.log
